bastion-key-swagger-client==1.0.0
bleach==4.1.0
certifi==2021.10.8
charset-normalizer==2.0.10
colorama==0.4.4
docutils==0.18.1
idna==3.3
importlib-metadata==4.10.0
keyring==23.5.0
Pygments==2.11.2
pyparsing==3.0.6
python-dateutil==2.8.2
requests==2.27.1
requests-toolbelt==0.9.1
rfc3986==1.5.0
six==1.16.0
tqdm==4.62.3
urllib3==1.26.7
webencodings==0.5.1
zipp==3.7.0
